<md-card id="login-form" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class='card-content'>
        <form ng-model="project" ng-submit="submit(project)">
            <md-content>
                <div>
                    <md-input-container>
                        <label>Title</label>
                        <input required ng-model="project.title">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Short Description</label>
                        <input ng-model="project.shortDescription">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Long Description</label>
                        <textarea required ng-model="project.longDescription" md-maxlength="200" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Github Link</label>
                        <input type="url" ng-model="project.githubLink">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Deployed Link</label>
                        <input type="url" ng-model="project.deployedLink">
                    </md-input-container>
                </div>
                <div>
                    <md-datepicker ng-model="project.startDate" md-placeholder="Enter start date"></md-datepicker>
                </div>
                <div>
                    <md-datepicker ng-model="project.endDate" md-placeholder="Enter end date"></md-datepicker>
                </div>
                <div>
                    <md-button type="submit" class="md-raised md-primary">
                        Create Project
                    </md-button>
                </div>
                <div>
            </md-content>
        </form>
        </div>
</md-card>
