<md-card class="form" flex-gt-sm="50" flex="80">
    <div class='card-content'>
        <form name="signupForm" ng-submit="signupForm.$valid && createAccount(account)">
            <alert type="danger" ng-show="error">
                {{ error }}
            </alert>
            <div>
                <md-input-container>
                    <label for="email">Email address</label>
                    <input type="email" ng-model="account.email">
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <label for="login-password">Password</label>
                    <input type="password" ng-model="account.password">
                </md-input-container>
            </div>
            <div>
                <md-button type="submit" class="md-raised md-primary">
                    Sign up
                </md-button>
            </div>
        </form>
    </div>
</md-card>
