#projects {
  .card-container {
    height: 200px;
  }
}

.delete-icon {
  color: #9f9f9f;
  float: right;
}

.material-icons {
  vertical-align: middle;
}

.title {
  text-align: center;
}

.dates {
  text-align: right;
  color: #9f9f9f;
}

#short {
  padding-top: 0px;
  font-size: 16px;
}
