* {
  box-sizing: border-box;
}

body {
  background: #EAEAEA;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 20px;
  margin: 0 auto;
  // background-color: #EAEAEA;
  overflow: visible;

}

@import 'directives/main';
@import 'home/main';
@import 'resume/main';
@import 'login/main';
